body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
    }
    
    .dark-mode {
        background-color: #333;
        color: #fff;
    }
    
    h2 {
        color: #007bff;
    }
    
    p {
        line-height: 1.6;
    }
    
    input,
    button {
        padding: 10px;
        margin: 5px 0;
    }
    
    button {
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        border: none;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    
    /* Adicionando estilos para a tabela no modo escuro */
    .dark-mode table {
        background-color: #333;
        color: #fff;
    }
    
    .dark-mode th, .dark-mode td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    .dark-mode th {
        background-color: #282c34; /* Cor ajustada para o modo escuro */
    }
  